img {
  max-width: 100%;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  line-height: 1.67;
  color: #444;
  padding: 60px 0;
}

.section-title {
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}
.section-title:after,
.section-title:before {
  content: "";
  position: absolute;
  bottom: 0;
}
.section-title:after {
  height: 2px;
  background-color: #0fb9fc;
  left: 25%;
  right: 25%;
}

.section-title:before {
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  background-color: #0fb9fc;
  left: 50%;
  transform: translatex(-50%);
  bottom: -6px;
  z-index: 9;
  border-radius: 50%;
}

/* CAROUSEL STARTS */
.customer-feedback .owl-item img {
  width: 85px;
  height: 85px;
}

.feedback-slider-item {
  position: relative;
  padding: 60px;
}

.customer-name {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}
.role-name {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  color: #0fb9fc;
}
.feedback-slider-item p {
  line-height: 1.875;
}

.customer-rating {
  background-color: #eee;
  border: 3px solid #fff;
  color: rgba(1, 1, 1, 0.702);
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  width: 47px;
  height: 47px;
  line-height: 44px;
  font-size: 15px;
  right: 0;
  top: 77px;
  text-indent: -3px;
}

.thumb-prev .customer-rating {
  top: -20px;
  left: 0;
  right: auto;
}

.thumb-next .customer-rating {
  top: -20px;
  right: 0;
}

/* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
.feedback-slider-item:after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 103px;
  background-color: #f6f6f6;
  border: 1px solid rgba(251, 90, 13, 0.1);
  border-radius: 10px;
  z-index: -1;
}

.thumb-prev,
.thumb-next {
  position: absolute;
  z-index: 99;
  top: 45%;
  width: 98px;
  height: 98px;
  left: -90px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.surpriseme-button {
  font-size: larger;
  border-radius: 20px;
  border-color: #0fb9fc;
  color: #0fb9fc;
}

.next_prev_button {
  margin-bottom: 5px;
  margin-right: 5px;
}

.previous {
  font-size: xx-large;
  border: none;
  color: #0fb9fc;
  font-size: 50px;
  background-color: inherit;
}

.next {
  font-size: 50px;
  background-color: inherit;
  border: none;
  color: #0fb9fc;
}
